<?xml version="1.0"?>
<configuration>
   <configSections>
      <section name="TraceTool" type="TraceTool.ConfigSectionHandler, TraceTool"/>
   </configSections>
   <TraceTool>
     <!--
     <param name="SendMode" value="socket"/>
     <param name="sockethost" value="localhost"/>
     <param name="socketport" value="81"/>
     
     -->
     <param name="SendMode" value="winmsg"/>
      <param Name="SendProcessName" Value="false"/>
      <debug>
         <param name="Enabled" value="true"/>
         <param name="IconIndex" value="24"/>
      </debug>
      <warning></warning>
      <error></error>
   </TraceTool>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

</configuration>
