<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by th (th) -->
<configuration xmlns="http://www.microsoft.com/schema/EnterpriseInstrumentation/v1/EnterpriseInstrumentation.xsd">
	<instrumentedApp name="EIFDemo" mode="released"/>
	<eventSources>
		<eventSource name="EIFDemo" type="softwareElement" internalExceptionHandler="ignore"/>
		<eventSource name="Application" type="softwareElement" internalExceptionHandler="ignore" description="Application level event source."/>
	</eventSources>
	<filterBindings>
		<eventSourceRef name="EIFDemo">
			<filterRef name="defaultSoftwareElementFilter"/>
		</eventSourceRef>
		<eventSourceRef name="Application">
			<filterRef name="defaultSoftwareElementFilter"/>
		</eventSourceRef>
	</filterBindings>
	<filters>
		<filter name="defaultSoftwareElementFilter" description="A default filter for the Software Element event sources.">
			<eventCategoryRef name="All Events">
				<eventSinkRef name="wmiSink"/>
				<eventSinkRef name="traceSink"/>
				<eventSinkRef name="logSink"/>
				<eventSinkRef name="TraceToolSink"/>
			</eventCategoryRef>
		</filter>
		<filter name="defaultRequestFilter" description="A default filter for the Request event sources.">
			<eventCategoryRef name="All Events">
				<eventSinkRef name="wmiSink"/>
				<eventSinkRef name="traceSink"/>
				<eventSinkRef name="logSink"/>
				<eventSinkRef name="TraceToolSink"/>
			</eventCategoryRef>
		</filter>
	</filters>
	<eventSinks>
		<eventSink name="wmiSink" description="Outputs events to WMI." type="Microsoft.EnterpriseInstrumentation.EventSinks.WmiEventSink"/>
		<eventSink name="traceSink" description="Outputs events to the Windows Event Trace." type="Microsoft.EnterpriseInstrumentation.EventSinks.TraceEventSink">
			<parameter name="sessionName" value="TraceSession"/>
		</eventSink>
		<eventSink name="logSink" description="Outputs events to the Windows Event Log." type="Microsoft.EnterpriseInstrumentation.EventSinks.LogEventSink">
			<parameter name="entryTypeFieldName" value="EventLogEntryTypeID1"/>
			<parameter name="defaultEntryType" value="Information"/>
			<parameter name="machineName" value="."/>
		</eventSink>
		<eventSink name="TraceToolSink" description="Outputs events to the tracetool API." 
		type="TraceTool.TraceToolEventSink, TraceToolEventSink, Version=9.0, Culture=neutral, PublicKeyToken=35bb89f90be2164b">
 		   <parameter name="RemoteHost" value="LocalHost" />
		   <parameter name="RemotePort" value="8090" />
		   <parameter name="WinTraceId" value="EIF" />
	       <parameter name="WinTraceTitle" value="Microsoft EIF demo" />
		   <parameter name="ImmediateFlush" value="true" />
		   <parameter name="SendMode" value="WinMsg" /> 		
		   <parameter name="LogFile" value="1,EIFDemo.xml" /> 		
	   </eventSink>
	</eventSinks>
	<eventCategories>
		<eventCategory name="All Events" description="A category that contains all events.">
			<event type="System.Object"/>
		</eventCategory>
		<eventCategory name="Standard Events" description="A category containing all sample schema events.">
			<event type="Microsoft.EnterpriseInstrumentation.Schema.BaseEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		</eventCategory>
		<eventCategory name="Request Tracing Events" description="A category containing all of the request tracing events.">
			<event type="Microsoft.EnterpriseInstrumentation.Schema.Internal.TraceRequestEvent, Microsoft.EnterpriseInstrumentation, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		</eventCategory>
		<eventCategory name="Known Event Types" description="This event category contains all event types seen by the ProjectInstaller.">
			<event type="Microsoft.EnterpriseInstrumentation.Schema.AdministrativeEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.AdminMessageEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.AuditEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.AuditMessageEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.AuditOperationEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.BaseEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.CommonEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.ComPlusInfo, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.DiagnosticEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.ErrorEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.ErrorMessageEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.ExternalErrorEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.ExternalErrorMessageEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.Internal.ComPlusInfo, Microsoft.EnterpriseInstrumentation, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.Internal.ManagedSecurityInfo, Microsoft.EnterpriseInstrumentation, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.Internal.TraceNestedRequestEndEvent, Microsoft.EnterpriseInstrumentation, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.Internal.TraceNestedRequestStartEvent, Microsoft.EnterpriseInstrumentation, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.Internal.TraceRequestEndEvent, Microsoft.EnterpriseInstrumentation, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.Internal.TraceRequestEvent, Microsoft.EnterpriseInstrumentation, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.Internal.TraceRequestStartEvent, Microsoft.EnterpriseInstrumentation, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.Internal.WindowsSecurityInfo, Microsoft.EnterpriseInstrumentation, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.InternalErrorEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.InternalErrorMessageEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.ManagedSecurityInfo, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.TraceCallEnterEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.TraceCallEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.TraceCallReturnEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.TraceDatabaseCommandEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.TraceDatabaseEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.TraceEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.TraceExternalCallEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.TraceExternalEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.TraceExternalReturnEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.TraceMessageEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<event type="Microsoft.EnterpriseInstrumentation.Schema.WindowsSecurityInfo, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		</eventCategory>
	</eventCategories>
</configuration>
