<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <TraceTool>
        <!--
     <param name="SendMode" value="socket"/>
     <param name="sockethost" value="localhost"/>
     <param name="socketport" value="8090"/>
     
     -->
        <param name="sockethost" value="localhost"/>
        <param name="socketport" value="8090"/>
        <param name="SendMode" value="socket"/>
        <param Name="SendProcessName" Value="false"/>
        <debug>
            <param name="Enabled" value="true"/>
            <param name="IconIndex" value="24"/>
        </debug>
        <warning></warning>
        <error></error>
    </TraceTool>
</configuration>