<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
   <configSections/>
 	<appSettings/>

   <connectionStrings/>
	<system.web>

      <!--  Compile the TraceToolSocketMode project and add it to the httpModules.
            The TraceToolSocketMode automatically change the Tracetool mode to socket.
            Alternatively, you can use this code in each Page_Load :  
            TTrace.Options.SendMode = SendMode.Socket ;
            But it's more elegant to add a single command in web.Config for the whole module.
            You can also add TraceToolSocketMode in the Machine.config file 
      -->
      <httpModules>
         <add type="TraceToolSocketMode.TTSocketMode,TraceToolSocketMode" name="TTSocketMode" />
      </httpModules>
		
      
		<compilation debug="true"/>
		<authentication mode="Windows"/>
	</system.web>
</configuration>
