<?xml version="1.0"?>
<configuration>
   <configSections>
      <section name="TraceTool" type="TraceTool.ConfigSectionHandler, TraceTool"/>
   </configSections>
   <TraceTool>
      <param name="SendMode" value="winmsg"/>
      <Param name="sockethost" value="localhost"/>
      <param Name="SendProcessName" Value="false"/>
      <debug>
         <param name="Enabled" value="true"/>
         <param name="IconIndex" value="24"/>
      </debug>
      <warning></warning>
      <error></error>
   </TraceTool>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
